
#projetsSection{
    margin-top: 5em;
}

#projetsSection h1{
    color: #ececec;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 2000;
    display: flex;
    justify-content: center;    
}

.row {
    width: 70%;
    left: 50%;
    margin: 0 auto;
}


.figure {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

    .figure:hover img {
        opacity: 0.1;
    }

    .figure:hover .middle {
        opacity: 1;
    }

/* caption styling  */
figcaption {
    color: white;
    padding: 1rem;
}

/* reduces the top margin on the h2, bottom on the p, and leaves a 0.5rem gap between the two */
figcaption * {
    margin: 0.5rem;
}

/* hack to make images flexible */
img {
    width: 450px;
    height: 250px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image-container {
    position: relative;
}

.middle {
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 0;
    width: 450px;
}


@media (min-width: 600px) {
    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 1%;
    }

    figure {
        flex-basis: 48%;
    }
}

/* outside the MQ's since they apply at all dimensions */
.reverse {
    flex-flow: row-reverse wrap;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

/* default styling, no changes needed here, even with responsive design */

/* set the layout to border box model */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}




/*
#projetsSection img{
    width: 25em;
    height: 25em;
}

.first-projets-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.second-projets-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-caption-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.main-projets-container h3{
    color: #ececec;
    font-size: 1.5em;
    margin-bottom: 0.2em;
    margin-top: 1em;
    font-weight: 2000;
    display: flex;
    justify-content: center;    
}

.main-projets-container span{
    color: #ececec;
}



.projet-title-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}


.projet-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.deploi-projet{
    margin-top: 20px;
}

.projet-titre-deploi{
    padding-right: 50px;

}

.projet-descr {
    position: relative;
    min-width: 250px;
    min-height: 300px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../rsc/img/ssh.png");
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: px;
    margin: 20px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
    
}

.projet-descr-agile {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../rsc/img/odoo.png");
    color: transparent;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: px;
    margin: 20px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
    
}


.projet-descr-agile:hover {
    color: #ececec;
    background-image: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.856)), url("../rsc/img/odoo.png");
    transition: all 0.5s ease;
}


.projet-descr:hover {
    color: #ececec;
    background-image: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.856)), url("../rsc/img/ssh.png");
    transition: all 0.5s ease;
}

.projet-descr-mocap{
    position: relative;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../rsc/img/mocap.jpg");
    color: transparent;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    line-height: px;
    margin: 20px;
    margin-bottom: 5px;
    transition: all 0.5s ease;
}

.projet-descr-mocap:hover {
    color: #ececec;
    background-image: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.856)), url("../rsc/img/mocap.jpg");
    transition: all 0.5s ease;
}



.vide{
    visibility: hidden;
}

.vide-milieu{
    visibility: hidden;

}

*/